*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(image/black-nike-zoo4u0z1mgqgind4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.project{
    width: 650px;
    height: 500px;
    margin: auto;
    padding: 100px;
}
.card{
    width: 460px;
    height: 280px;
    background-color:#2a2f40;
    margin:auto;
    position: relative;
    color: white;
    border-radius: 3px;
}
.right_side_card{
    width: 227px;
    height: 280px;
    position: absolute;
    right: 0;
 }
.name{ 
    position: absolute;
    font-weight: bold;
    top: 20px;
    left: 0;
    color:#ef6635;
}
.topicons{
    position: absolute;
    top: 15px;
    right: 20px;
}
.topicons ul li{
    list-style-type: none;
    display:inline-block;
    font-size:13px ;
    padding: 7px;
}
.season_collection{
    position: absolute;
    top: 80px;
    left: 0;
    letter-spacing: -1.5px;
     line-height: 28px;
}
.season_collection p{ 
    letter-spacing: 0px;
    font-size: 18px;
}
.season_collection ul li{
        list-style-type: none;
        display: inline-block;
        padding-right: 20px;
    }
.cheep_price{
    font-weight:bold;
    font-size: 18px;
}
.expensive_price{text-decoration: line-through red;}
.sneakers_size{
    position: absolute;
    left: 0;
    bottom: 90px;
}
.sneakers_size li{
    list-style-type: none;
    display: inline-block;
    padding-right: 18px;
    font-size: 10px;
}
.color{
    position: absolute;
    left: 0;
    bottom: 60px;
}
.color ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 10px;
    padding-right: 18px;
    }
.color_yellow{color: yellow;}
.color_black{color: black;}
.color_blue{color: blue;}

.buying_position{ 
    position: absolute;
    bottom: 30px;
    left: 0;
}
.buying_position li{
    list-style-type: none;
    display: inline-block;
    font-size: 10px;
    padding-right: 20px;
}
.left_side_card{
    width: 220px;
    height: 280px;
    background-color:#ef6635;
    border-radius: 3px 50% 50% 3px;
    position: absolute;
    top: 0;
}
.arrow{
    position: absolute;
    left: 50px;
    bottom: 40px;
}
.arrow ul li{
    list-style-type: none;
    display: inline-block;
    padding: 6px;
    font-weight:bolder;
    font-size: 12px;
}
.shoe_nike{
    width: 310px;
}
.sneaker_img{
    position: absolute;
    top: 40px;
    left: -60px;
}
